
<button>login1</button>
<button (click)="getData()">get data</button>

<button (click)="setData([2,2,2,2])">set data</button>
<button routerlink="/pages/home"> go home </button>

<p>---------REACTIVE FORMS------------------</p>

<input type="text" [formControl]="name">
<button (click)="onShow()">SHOW</button>


<div [formGroup]="formReactive">
  <input type="text" formControlName="name">
  <input type="text" formControlName="lastName">
  <input type="text" formControlName="date">
</div>
<button (click)="onShowAll()">SHOW ALL</button>