
<button>login1</button>
<button (click)="getData()">get data</button>

<button (click)="setData([2,2,2,2])">set data</button>
<button routerlink="/pages/home"> go home </button>

<p>TEMPLATE FORM</p>
<form #formTemplate="ngForm"
      (ngSubmit)="onSubmitTemplate(formTemplate)">
  <input type="text" name="aagggg" ngModel>
  <input type="text" name="bb" ngModel>
  <input type="text" name="cc" ngModel>
 / <button type="submit">submit</button>
</form>


<!--
<input type="text"  [(ngModel)]="aaaaaaa">
<input type="text"  [(ngModel)]="bbbbbbb">
<input type="text"  [(ngModel)]="cccccccc">
<button (click)="adasd()">submit</button>-->
