

<p>Wallet</p>


<div>
  TOTAL bitcoin: {{getTotalCoin('btc')}}
  TOTAL ethereum: {{getTotalCoin('eth')}}
</div>
<!-- 6. Mostrar un mensaje de THERE ARE NOT TRANSACTIONS si no quedan más transacciones para minar (deberían quedar solo 
las transacciones que no se pueden minar en la lista de transacciones)
-->>
<div *ngIf="getTransactionsStatus()">
  THERE ARE NOT TRANSACTIONS
</div>

<div style="display: flex; flex-direction: row">
  <div *ngFor="let wallet of wallets">
    <app-wallet [data]="wallet">

    </app-wallet>
  </div>
</div>


<p>Transactions</p>

<div style="display: flex; flex-direction: row;">
  <div *ngFor="let transaction of transactions; let i = index;">
<!-- 4. Cada transacción debe tener un botón con la palabra mine, con la diferencia que si es tipo PoS se debe habilitar el botón 
solo si el atributo miner mayor a 5-->
    <app-transaction [data]="transaction">
      <button
        [disabled]="transaction.mineType === 'PoS' &&
       transaction.miner > 5"
      (click)="onMine(transaction)">
        Mine
      </button>
    </app-transaction>
  </div>
</div>