<div>

<p *ngIf="verifyVacunados()">
TODOS VACUNADOS
</p>

<p>Medical center</p>
<p>VACUNADOS {{personas.vacunados.length}}</p>
<p>SIN VACUNAR {{personas.novacunados.length}}</p>

<p>VACUNADOS</p>
<div style="display: flex; flexDirection: row;">
<div *ngFor="let persona of personas.vacunados">
<persona 
[name]="persona.name"
[age]="persona.age"
[date]="persona.date"
[vaccined]="persona.vaccined"
>
<div [style.background]="vaccined === 0 ? 'red' : 'green'"
       style="float: left; margin: 10px; padding: 10px;">

	  <p>Nombre: {{name | uppercase}}</p>
    <p>fecha: {{date}}</p>
	  <p>Edad: {{age}}</p>
    <p>Enfermedad base: {{disease}}</p>
    <p>TIpo de vacuna: {{vaccinetype}}</p>
    <p>vacunado: {{vaccined}}</p>
    <p>Dosis: {{doses}}</p>
	  
	  <button *ngIf="vaccinated===0" 
            (click)="onVacunar()"
            [disabled]="age > 18 || disease">
      Vacunar
    </button>
  </div>
</persona>
</div>

</div>
<p>NO VACUNADOS</p>
	<div style="display: flex; flexDirection: row;">
		<div *ngFor="let persona of personas.novacunados">
			<persona
       [age]="persona.age"
       [name]="persona.name"
       [date]="persona.date"
       [disease]="persona.disease"
       [vaccineType]="persona.vaccineType">
      </persona>
		</div>






</div>