<!--11. Se debe agregar un formulario que permita crear nuevas transacciones, se debe poder agregar FROM, TO, QUANTITY, 
MONEY TYPE TYPE MINE, MINER, y el campo date se debe llenar de forma interna con la fecha de creación-->
<p>Create transaction</p>
<form #formCreate="ngForm"
(ngSubmit)="createTrans(formCreate)">
<input type="text"
   name="from"
   ngModel
   placeholder="From">
<input type="text"
   name="to"
   ngModel
   placeholder="To">
<input type="text"
   name="quantity"
   ngModel
   placeholder="Quantity">
<input type="text"
   name="moneyType"
   ngModel
   placeholder="Money Type">
<input type="text"
   name="mineType,"
   ngModel
   placeholder="Type Mine">
<input type="text"
   name="from"
   ngModel
   placeholder="Miner">
   <p></p>
<button>Create</button>

</form>

<!--10. Se debe colocar un botón llamada EDIT en las transacciones, al dar click a este botón el usuario solo puede editar los 
campos FROM, TO QUANTITY, MONEY TYPE, TYPE MINE, MINER, luego de editar se debe recargar las transacciones-->
<p>Edit transaction</p>

<form #formEdit="ngForm"
(ngSubmit)="editTrans(formEdit)">
<input type="text"
   name="id"
   ngModel
   placeholder="Transaction ID">
<input type="text"
   name="from"
   ngModel
   placeholder="From">
<input type="text"
   name="to"
   ngModel
   placeholder="To">
<input type="text"
   name="quantity"
   ngModel
   placeholder="Quantity">
<input type="text"
   name="moneyType"
   ngModel
   placeholder="Money Type">
<input type="text"
   name="mineType"
   ngModel
   placeholder="Type Mine">
<input type="text"
   name="miner"
   ngModel
   placeholder="Miner">
<p>
<button>Edit</button>
</p>

</form>